body {
    background-color: black;
}
.login {
    width: 50%;
    margin: auto;
    margin-top: 50px;;
    background-color: aliceblue;
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 10px;
}
.mb-3 {
    display: flex;
    justify-content: 5px;
    align-items: center;
    width: 90%;
    height:  25px;
    margin: 15px;
    /* border: 2px solid white ; */
    height: 50px;
}
.mb-3 input {
    border: none;
}
.form-control {
    width: 70%;
    border-radius: 10px;
    height: 80%;
}
.form-label {
    width: 30%;
    margin: 25px;
    /* margin-left: 25px; */
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}
.predictButton {
    height: 70%;
    width: 30%;
    margin: auto;
    background-color: darkblue;
    color: white;
    vertical-align: middle;
}
.about {
    width: 70%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.prediction-container {
    width:50%;
    margin: auto;
}
.prediction {
    padding-top: 20px;
    color: white;
    width: 50%;
    margin: auto; 
}